SERVER_API_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0eXBlIjoic2VydmVyIiwiaWF0IjoxNzQ0MT
kzMTk1LCJleHAiOjE3NzU3MjkxOTV9.9BxbJeQv4yqnTGn9e9DN4He6t6g1eqktaXJBjPLAqnc
NEXT_PUBLIC_UPLOADTHING_URL=http://localhost:8000/api/uploadthing
NEXT_PUBLIC_API_URL=http://localhost:8000/graphql

# NEXT_PUBLIC_API_URL
# SERVER_API_TOKEN